.present-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

.box {
  position: relative;

  &::before {
    content: '';
    width: 440px;
    height: 440px;
    background-color: #3E594A;
    // background-color: rgb(36, 48, 41);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-box-shadow: inset 10px 0 10px 0 rgb(47 66 55 / 90%), inset 45px 0 15px -12px rgb(47 66 55 / 30%), inset 65px 0 10px -15px rgb(47 66 55 / 50%);
    box-shadow: inset 10px 0 10px 0 rgb(47 66 55 / 90%), inset 45px 0 15px -12px rgb(47 66 55 / 30%), inset 65px 0 10px -15px rgb(47 66 55 / 50%);
  }
}

.box-wrapper {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;

  .img {
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .glow {
    display: block;
    height: 150px;
    width: 150px;
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    top: -150px;
    background: transparent;
  }

  .box-body {
    position: relative;
    height: 200px;
    width: 200px;
    margin-top: 123.3333333333px;
    background-color: #8C1111;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 20px 20px -20px;
    background: linear-gradient(#401E27, #8C1111);
    z-index: 20;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 50px;
      background: linear-gradient(#F2CDA0, #D9AF62);
    }
  }

  .box-lid {
    position: absolute;
    z-index: 2;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 90%;
    height: 40px;
    background-color: #8C1111;
    height: 40px;
    width: 220px;
    border-radius: 5px;
    box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);

    &::after {
      z-index: 3;
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 50px;
      background: linear-gradient(#D9AF62, #F2CDA0);
    }
  }

  .box-bow {
    height: 100%;

    &::before,
    &::after {
      content: '';
      width: 83.3333333333px;
      height: 83.3333333333px;
      border: 16.6666666667px solid #D9AF62;
      border-radius: 50% 50% 0 50%;
      position: absolute;
      bottom: 99%;
      z-index: 3;
    }

    &::before {
      left: 50%;
      -webkit-transform: translateX(-100%) skew(10deg, 10deg);
      transform: translateX(-100%) skew(10deg, 10deg);
    }

    &::after {
      left: 50%;
      -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
      transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
    }
  }
}
.box-wrapper:hover {
  cursor: pointer;
}
.open {
  -webkit-animation: box-body 1s forwards ease-in-out;
  animation: box-body 1s forwards ease-in-out;
  z-index: 20;

  .img {
    -webkit-animation: slide-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
      both;
    animation: slide-up 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
  }

  .glow {
    animation: star 5s ease-out 1.4s infinite;
  }

  .box-lid {
    -webkit-animation: box-lid 1s forwards ease-in-out;
    animation: box-lid 1s forwards ease-in-out;
  }

  .box-bow {
    &::before {
      -webkit-animation: box-bow-left 1.1s forwards ease-in-out;
      animation: box-bow-left 1.1s forwards ease-in-out;
    }

    &::after {
      -webkit-animation: box-bow-right 1.1s forwards ease-in-out;
      animation: box-bow-right 1.1s forwards ease-in-out;
    }
  }
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-157px);
    transform: translateY(-157px);
  }
}
@keyframes slide-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-157px);
    transform: translateY(-157px);
  }
}

@keyframes star {
  0% {
    border-radius: none;
    box-shadow: 0px 0px 40px rgba(255, 255, 0, 0.6);
  }
  10% {
    box-shadow: 0px 0px 0px transparent;
  }
  20% {
    box-shadow: 0px 0px 120px rgba(255, 255, 0, 0.6);
  }
  30% {
    box-shadow: 0px 0px 0px transparent;
  }
  40% {
    box-shadow: 0px 0px 120px rgba(255, 255, 0, 0.6);
  }
  50% {
    box-shadow: 0px 0px 0px transparent;
  }
  60% {
    box-shadow: 0px 0px 20vh rgba(255, 255, 0, 1);
  }

  70% {
    box-shadow: 0px 0px 0px transparent;
  }
  80% {
    box-shadow: 0px 0px 20vh rgba(255, 255, 0, 1);
  }

  90% {
    box-shadow: 0px 0px 0px transparent;
  }
  100% {
    box-shadow: 0px 0px 40px rgba(255, 255, 0, 0.6);
  }
}

@-webkit-keyframes box-lid {
  0%,
  42% {
    -webkit-transform: translate3d(-50%, 0%, 0) rotate(0deg);
    transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
  60% {
    -webkit-transform: translate3d(-85%, -230%, 0) rotate(-25deg);
    transform: translate3d(-85%, -230%, 0) rotate(-25deg);
  }
  90%,
  100% {
    -webkit-transform: translate3d(-119%, 225%, 0) rotate(-70deg);
    transform: translate3d(-119%, 225%, 0) rotate(-70deg);
  }
}

@keyframes box-lid {
  0%,
  42% {
    -webkit-transform: translate3d(-50%, 0%, 0) rotate(0deg);
    transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
  60% {
    -webkit-transform: translate3d(-85%, -230%, 0) rotate(-25deg);
    transform: translate3d(-85%, -230%, 0) rotate(-25deg);
  }
  90%,
  100% {
    -webkit-transform: translate3d(-119%, 225%, 0) rotate(-70deg);
    transform: translate3d(-119%, 225%, 0) rotate(-70deg);
  }
}
@-webkit-keyframes box-body {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
    transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
  25% {
    -webkit-transform: translate3d(0%, 25%, 0) rotate(20deg);
    transform: translate3d(0%, 25%, 0) rotate(20deg);
  }
  50% {
    -webkit-transform: translate3d(0%, -15%, 0) rotate(0deg);
    transform: translate3d(0%, -15%, 0) rotate(0deg);
  }
  70% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
    transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
}
@keyframes box-body {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
    transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
  25% {
    -webkit-transform: translate3d(0%, 25%, 0) rotate(20deg);
    transform: translate3d(0%, 25%, 0) rotate(20deg);
  }
  50% {
    -webkit-transform: translate3d(0%, -15%, 0) rotate(0deg);
    transform: translate3d(0%, -15%, 0) rotate(0deg);
  }
  70% {
    -webkit-transform: translate3d(0%, 0%, 0) rotate(0deg);
    transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
}
@-webkit-keyframes box-bow-right {
  0%,
  50%,
  75% {
    -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
    transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
  }
}
@keyframes box-bow-right {
  0%,
  50%,
  75% {
    -webkit-transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
    transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
  }
}
@-webkit-keyframes box-bow-left {
  0% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
  50%,
  75% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
}
@keyframes box-bow-left {
  0% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
  50%,
  75% {
    -webkit-transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
  }
  90%,
  100% {
    -webkit-transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
    transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
}

// source
// ----------------------------
// https://codepen.io/RoyLee0702/pen/RwNgVya?editors=1100
