@import "variables";
@import "envelope";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  // max-width: 600px;
  background-position: fixed;
  position: fixed;
  margin: 0;
  // padding-top: 0vh;
  // display: flex;
  // flex-flow: column nowrap;
  // justify-content: center;
  // align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 5rem;
  background: radial-gradient(farthest-corner at 30vw 20vh,#7397a1 1%,#3f2c41 100%);
  // z-index: -10;
}
