.name {
  font-family: 'Staatliches', cursive;
  animation-name: glaucoma;
  animation-duration: 4.2s;
  animation-timing-function: ease-out;
  color: #d2e9ee;
  font-size: 4rem;
  text-align: center;
  margin-top: 2rem;
}

@keyframes glaucoma {
  from {
    opacity: 1;
    text-shadow: 0 0 75px white;
    color: transparent;
  }

  to {
    opacity: 1;
    text-shadow: 0;
    color: transparent;
  }
}
